<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zcn.virtual.waiting.room.repository.AccessTokenMapper">
    <resultMap id="AccessToken" type="AccessToken">
        <id column="id" property="id" javaType="int"/>
        <result column="queue_id" property="queueId" javaType="string"/>
        <result column="request_id" property="requestId" javaType="string"/>
        <result column="position" property="position" javaType="long"/>
        <result column="token_value" property="tokenValue" javaType="string"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="expired_time" property="expiredTime" javaType="java.util.Date"/>
        <result column="status" property="status"/>
    </resultMap>

    <sql id="columns">
        `id`,
        <include refid="columnsNoId"/>
    </sql>

    <sql id="columnsNoId">
        `queue_id`,
        `request_id`,
        `position`,
        `token_value`,
        `token_type`,
        `create_time`,
        `expired_time`,
        `status`
    </sql>

    <insert id="add" parameterType="AccessToken" useGeneratedKeys="true" keyProperty="id">
        insert access_token(
            <include refid="columnsNoId"/>
        ) values (
            #{queueId},
            #{requestId},
            #{position},
            #{tokenValue},
            #{tokenType},
            #{createTime},
            #{expiredTime},
            #{status}
        )
    </insert>

    <select id="getByTokenValue" resultMap="AccessToken">
        select
            <include refid="columns"/>
        from
            access_token
        where
            token_value = #{tokenValue}
    </select>

    <select id="getByQueueIdAndRequestId" resultMap="AccessToken">
        select
            <include refid="columns"/>
        from
            access_token
        where
            `queue_id` = #{queueId} and `request_id` = #{requestId}
    </select>

    <update id="changeStatus">
        update
            access_token
        set
            `status` = #{newStatus}
        where
            `queue_id` = #{queueId} and `request_id` = #{requestId} and `status` = #{oldStatus}
    </update>

    <select id="getActiveTokenNum" resultType="long">
        select
            count(*)
        from
            access_token
        where
            `queue_id` = #{queueId} and `status` = 3  and `expired_time` &gt; #{after}
    </select>
</mapper>