<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zcn.virtual.waiting.room.repository.QueuePositionMapper">
    <resultMap id="QueuePosition" type="QueuePosition">
        <id column="id" property="id" javaType="int"/>
        <result column="queue_id" property="queueId" javaType="string"/>
        <result column="request_id" property="requestId" javaType="string"/>
        <result column="queue_position" property="queuePosition" javaType="long"/>
        <result column="entry_time" property="entryTime" javaType="java.util.Date"/>
    </resultMap>

    <sql id="columns">
        `id`,
        <include refid="columnsNoId"/>
    </sql>

    <sql id="columnsNoId">
        `queue_id`,
        `request_id`,
        `queue_position`,
        `entry_time`
    </sql>

    <insert id="add" parameterType="QueuePosition" useGeneratedKeys="true" keyProperty="id">
        insert queue_position(
            <include refid="columnsNoId"/>
        ) values (
            #{queueId},
            #{requestId},
            #{queuePosition},
            #{entryTime}
        )
    </insert>

    <select id="getByQueueIdAndRequestId" resultMap="QueuePosition">
        select
            <include refid="columns"/>
        from
            queue_position
        where
            queue_id = #{queueId} and request_id = #{requestId}
    </select>
</mapper>