<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zcn.virtual.waiting.room.infrastructure.repository.RequestPositionMapper">
    <resultMap id="RequestPosition" type="RequestPositionPO">
        <id column="id" property="id" javaType="int"/>
        <result column="queue_id" property="queueId" javaType="string"/>
        <result column="request_id" property="requestId" javaType="string"/>
        <result column="queue_position" property="queuePosition" javaType="long"/>
        <result column="can_served_when_entry" property="canServedWhenEntry" javaType="boolean"/>
        <result column="entry_time" property="entryTime" javaType="java.util.Date"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="status" property="status"/>
    </resultMap>

    <sql id="columns">
        `id`,
        <include refid="columnsNoId"/>
    </sql>

    <sql id="columnsNoId">
        `queue_id`,
        `request_id`,
        `queue_position`,
        `can_served_when_entry`,
        `entry_time`,
        `create_time`,
        `status`
    </sql>

    <insert id="add" parameterType="RequestPositionPO" useGeneratedKeys="true" keyProperty="id">
        insert request_position(
            <include refid="columnsNoId"/>
        ) values (
            #{queueId},
            #{requestId},
            #{queuePosition},
            #{canServedWhenEntry},
            #{entryTime},
            #{createTime},
            #{status}
        )
    </insert>
    
    <update id="updatePosition">
        update
            request_position
        set
            `queue_position` = #{queuePosition},
            `entry_time` = #{entryTime},
            `can_served_when_entry` = #{canServedWhenEntry}
        where
            `id` = #{id}
    </update>

    <select id="getByQueueIdAndRequestId" resultMap="RequestPosition">
        select
            <include refid="columns"/>
        from
            request_position
        where
            queue_id = #{queueId} and request_id = #{requestId}
    </select>

    <update id="changeRequestStatus">
        update
            request_position
        set
            `status` = #{newStatus}
        where
            `id` = #{id} and `status` = #{oldStatus}
    </update>
</mapper>